<form method="get" action="/quizzes">
  Buscar Preguntas<p>
  <input type="text" name="search" placeHolder="Introduzca patrón"/>
  <input type="submit" value="Enviar">
</form>

<table>
  <% for (var i in quizzes) { %>
     <tr>
        <td>
           <a href="/quizes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
     </tr>
  <% } %>
</table>
